<mat-card>
    <mat-card-content style="background-color: #f8f9fa;">
        <div class="container">

            <div class="row">

                <div class="col-md-10">
                    <div id="header-fixed" style="display: flex;">
                        <h4 class="page-title">To Do</h4>
                    </div>
                </div>

                <div class="col-md-2">
                    <label for="itemsPerPage">Items per page:</label>
                    <select class="form-select" (change)="enterData($event)" style="margin-bottom: 5px;"
                        [(ngModel)]="change">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                    </select>
                </div>

            </div>
        </div>

        <div class="white_box_tittle list_header">
            <div class="QA_table">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                    <div id="table_wrapper">
                        <table class="table table-striped" role="grid" aria-describedby="DataTables_Table_0_info"
                            style="table-layout: fixed;">

                            <thead id="header_fixed">
                                <tr>
                                    <th style="width: 5%;">Id</th>
                                    <th style="width: 10%;">User Id</th>
                                    <th style="width: 20%;">Title</th>
                                    <th style="width: 10%;">Completed</th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr *ngFor="let todo of toDoData|slice
                            : (pagination.currentPage - 1) * pagination.pageSize
                            : pagination.currentPage * pagination.pageSize">
                                    <td style="width: 5%;">{{todo.id}}</td>
                                    <td style="width: 10%;">{{todo.userId}}</td>
                                    <td style="width: 20%;">{{todo.title}}</td>
                                    <td style="width: 10%;">{{todo.completed}}</td>
                                </tr>

                            </tbody>

                        </table>

                    </div>
                </div>
            </div>

            <app-pagination #pagination [collectionSize]="toDoData.length" [pageSize]="tableSize"
                [firstLastButtons]="true"></app-pagination>
        </div>

    </mat-card-content>
</mat-card>