<mat-toolbar class="nav_bar">
    <div class="section over-hide z-bigger">
        <label class="for-checkbox" for="general"></label>
        <div class="section over-hide z-bigger">
            <div class="container pb-5">
                <div class="col-12 pb-5">
                    <input class="checkbox-tools" type="radio" name="tools" id="tool-1" *ngIf="currentRoute == '/Posts'"
                        checked>
                    <input class="checkbox-tools" type="radio" name="tools" id="tool-1"
                        *ngIf="currentRoute != '/Posts'">
                    <label class="for-checkbox-tools" for="tool-1" (click)="openPostsModule()">
                        Posts
                    </label>
                    <input class="checkbox-tools" type="radio" name="tools" id="tool-2" *ngIf="currentRoute == '/To_Do'"
                        checked>
                    <input class="checkbox-tools" type="radio" name="tools" id="tool-2"
                        *ngIf="currentRoute != '/To_Do'">
                    <label class="for-checkbox-tools" for="tool-2" (click)="openToDoModule()">
                        To Do
                    </label>
                </div>
            </div>
        </div>
    </div>

</mat-toolbar>

<div class="main_content_inner">
    <router-outlet></router-outlet>
</div>