::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #499 !important;
  }
  ::ng-deep .mat-tab-label .mat-tab-label-content {
    font-size: medium;
  }
  
  ::ng-deep .mat-tab-header .mat-tab-labels {
    justify-content: start;
  }