// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$shyamtech_test-primary: mat.define-palette(mat.$indigo-palette);
$shyamtech_test-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$shyamtech_test-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$shyamtech_test-theme: mat.define-light-theme((color: (primary: $shyamtech_test-primary,
        accent: $shyamtech_test-accent,
        warn: $shyamtech_test-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($shyamtech_test-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


.page-title {
  background: #499;
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 6px;
  padding-left: 20px;
  margin-left: -44px !important;
  position: relative;
  margin-bottom: 20px;
}

.page-title::before {
  content: "";
  display: block;
  border-left: none;
  position: absolute;
  left: 0;
  bottom: -14px;
  width: 0;
  height: 0;
  border-top: 7px solid #277;
  border-right: 7px solid #277;
  border-bottom: 7px solid #0000;
  border-left: 7px solid #0000;
}

.QA_table .table thead th {
  border-bottom: 0 solid transparent;
  background-color: #fff;
  padding: 17px 30px;
  line-height: 16px;
  border: 0px solid transparent;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  text-transform: capitalize;
  font-family: "Rajdhani", sans-serif;
  border: 0;
  background: #499;
  padding: 12px;
  text-align: center;
}

.QA_table .table tbody tr {
  text-align: center;
}

.QA_table .table tbody td {
  padding: 4px;
}
.QA_table .table thead th:first-child {
  border-radius: 10px 0px 0px 0px;
}

.QA_table .table thead th:last-child {
  border-radius: 0px 10px 0px 0px;
}

.popover__wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.popover__wrapper:hover .popover__content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.popover__title {
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  // color: #499;
  text-align: center;
  margin-bottom: auto;
}

.popover__content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 300px !important;
  transform: translate(0, 15px) !important;
  background-color: white;
  color: #828BB2;
  box-shadow: 3px 4px 5px 3px rgba(117, 111, 117, 1);
}

.popover__content li {
  padding: 0.3rem 1rem;
}

.popover__content:before {
  position: absolute;
  z-index: -1;
  content: "";
  left: calc(10% - 10px);
  top: -10px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #bfbfbf transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}